* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto'
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');

nav {
  background-color: violet;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  background-color: rgb(243, 201, 208);
  min-height: 100vh;
  width: 70%;
  margin: auto;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}

.container>h1 {
  text-align: center;
  font-size: 2.5rem;
}

.container>form {
  display: flex;
  flex-direction: column;
}

.container>form>input,
textarea,
button {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.214);
  border-radius: 5px;
  margin: 10px;
  font-size: 1.2rem;
}

button {
  border: none;
  cursor: pointer;
  background-color: rgb(253, 187, 65);

}

.task {
  display: flex;
  border-radius: 5px;
  margin: 20px 0;
  background-color: rgb(250, 250, 250);
  padding: 20px;
  align-items: center;
}

.task span {
  color: rgb(73, 69, 69);
}

.task>div {
  width: 100%;

}

.task button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.task button:hover {
  background-color: red;
  color: white;
}